[Unit]
Description=KiwiiIRC Server
After=network.target

[Service]
Type=forking
User={{ webirc_user }}
WorkingDirectory=/home/{{ webirc_user }}/webirc/
ExecStart=/home/{{ webirc_user }}/webirc/kiwi start
ExecStop=/home/{{ webirc_user }}/webirc/kiwi stop
ExecReload=/home/{{ webirc_user }}/webirc/kiwi build
PIDFile=/home/{{ webirc_user }}/webirc/kiwiirc.pid

[Install]
WantedBy=multi-user.target
